<form action="/fetch-movie" method="POST">
    <input id="movieNameInput" name="search" placeholder="movie name" required>
    <button type="submit">Search</button>
</form>


<div class="list">
    {{#each movie}}
    <div class="item">
        <a href="/movie-details/{{movieId}}">
            <img src="{{posterUrl}}" />
        <h2>{{title}}</h2>
        </a>
    </div>
    {{/each}}
</div>