<div class="container mt-5 d-flex justify-content-center">
    <div class="card w-50">
        <div class="card-body">
            <form action="/fetch-movie" method="POST">
                <h1 class="card-title text-center search-title">Search</h1>
                <div class="card-text text-center">
                    <p class="search-paragraph">Você poderá obter detalhes do seu filme favorito!</p>
                </div>
                <div class="input-group mb-3">
                    <input id="movieNameInput" name="search" class="form-control search-input" placeholder="Digite aqui..." required>
                    <button type="submit" class="btn btn-custom">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>