<form action="/fetch-movie" method="POST">
    <h1>Movie Searcher </h1>
    <div>
        <p>Here you can find wherever movie you want whenever you like! </p>
    </div>
    <input id="movieNameInput" name="search" placeholder="movie name" required>
    <button type="submit">Search</button>
</form>