body {
    background-color: #6b6867; 
    margin: 0;
    padding: 0;
}
div.list {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

div.item {
    text-align: center;
    padding: 10px;
    width: 200px;
    margin: 3px;
    border: 3px solid rgb(248, 248, 248);
    cursor: pointer;
}

div.item img{
    width: 100%;
    
}
div.item:hover {
    background-color: rgb(255, 255, 255);
}
div.menu{
    text-align: center;
    padding: 10px;
    margin: 3px;
    border: 3px solid rgb(248, 248, 248);
}